*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}
body{

    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://previews.123rf.com/images/foryou13/foryou131709/foryou13170900014/85034405-book-and-pencil-on-white-table-black-board-background-with-study-and-education-concept-selective-foc.jpg);

    background-size: cover;
    height: 100vh;
    background-position: center;
    font-family: sans-serif;
}
#imag a{
    /* border-radius: 50px; */
    /* height: 40px; */
    /* width: 40px; */
    float: left; margin-top:10px ; margin-left: 60px;
    text-decoration: none;
    color: rgb(10, 23, 206);
    font-size: 25px;
    letter-spacing: 8px;
    font-weight: 500;
    border: 5px solid white ;
}
#imag1{
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 25px;
}
#imag1 a{
    text-decoration: none;
    color: rgb(19, 7, 7);
    transition: 0.6s;

}
#imag1 a:hover
{
    font-size: larger;

}
.menu-bar
{
    background-color: hsl(58, 58%, 75%);
    text-align: center;
    
}
.menu-bar #main
{
    align-items: right;
}
.menu-bar ul
{
    display: inline-flex ;
    list-style: none;
    color: rgb(19, 17, 17);
    
}
.menu-bar ul li{
    /* width: 120px; */
    margin: 10px;
    padding: 10px;

}
.menu-bar ul li a
{
    text-decoration: none;
    color: rgb(19, 7, 7);
    transition: 0.6s ;
    transform: translate(-50%,-50%);
}
.active,.menu-bar ul li:hover
{
    background: rgb(4, 240, 122);
    color: white;
    font-size: larger;
    border-radius: 3px;
    
}
.main,.menu-bar ul li
{
    text-decoration: none;
}